@media (min-width: 576px) {
  .container {
    max-width: 767px;
      .seaech-icon i {
        width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 21px;
  }
  .seaech-text p { 
    max-width: 200px;
    margin-left: 0px;
  }
  }

}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}